@font-face {
  font-family: GothamMedium;
  src: url(./fonts/GothamMedium.otf);
}

@font-face {
  font-family: GothamThin;
  src: url(./fonts/GothamThin.otf);
}

@font-face {
  font-family: YesevaOneRegular;
  src: url(./fonts/YesevaOneRegular.ttf);
}
@font-face {
  font-family: ExoSemiBold;
  src: url(./fonts/ExoSemiBold.ttf);
}
@font-face {
  font-family: ExoExtraLight;
  src: url(./fonts/ExoExtraLight.ttf);
}
