@import "./fonts/font";

%relative {
    position: relative;
    width: 100%;
    height: 100%;
}

%w980 {
    width: 980px;
    margin: 0 auto;
    overflow: hidden;
}

$bg-color: #2d2d2f;
$text-color: #fff;

%img {
    width: 100%;
    display: block;
}

%section-content {
    position: relative;
    width: 90%;
    margin: 0 auto;
}

%box-bg-left {
    background-image: url("../image/box-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.vct-wrapper {
    @extend %relative;
    padding-top: 44px;

    .desktop {
        @extend %relative;

        .desktop-bg {
            @extend %relative;

            .w980 {
                @extend %w980;

                .desktop--inner {
                    position: relative;
                    background-color: $bg-color;

                    .banner {
                        @extend %relative;

                        img {
                            @extend %img;
                        }
                    }

                    .section {
                        @extend %relative;

                        // Section title
                        .section-title {
                            h3 {
                                font-size: 60px;
                                color: $text-color;
                                margin: 0;
                                line-height: 1.1;
                                font-family: SFText-Bold;
                                position: relative;

                                &::before {
                                    content: "";
                                    width: 10px;
                                    height: 100%;
                                    background-color: $text-color;
                                    position: absolute;
                                }
                            }
                            &.title-left {
                                h3 {
                                    padding-left: 50px;
                                    text-align: left;

                                    &::before {
                                        top: 0;
                                        left: 0;
                                    }
                                }
                            }
                            &.title-right {
                                h3 {
                                    padding-right: 50px;
                                    text-align: right;

                                    &::before {
                                        top: 0;
                                        right: 0;
                                    }
                                }
                            }
                        }
                        // End Section title

                        &.section1 {
                            .section-content {
                                @extend %relative;

                                .section-left {
                                    position: relative;
                                    width: 60%;
                                    margin-right: auto;
                                    z-index: 2;

                                    .section-img {
                                        img {
                                            display: block;
                                            width: 100%;
                                        }
                                    }
                                }
                                .section-right {
                                    width: 55%;
                                    height: 90%;
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    @extend %box-bg-left;

                                    .section-box {
                                        ul {
                                            li {
                                                margin-bottom: 20px;
                                                p {
                                                    color: $text-color;
                                                    line-height: 1.2;

                                                    &.name {
                                                        font-family: SFText-Light;
                                                        font-size: 18px;
                                                    }
                                                    &.num {
                                                        font-family: SFText-Bold;
                                                        font-size: 26px;
                                                    }
                                                }
                                                &:last-child {
                                                    margin-bottom: 0;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &.section2 {
                            .section-content {
                                @extend %relative;
                                margin-top: 40px;

                                .section-img {
                                    @extend %relative;

                                    img {
                                        @extend %img;
                                    }
                                }
                                .overlay-img {
                                    position: absolute;
                                    top: 80px;
                                    left: 55%;
                                    transform: translateX(-50%);
                                    z-index: 1;

                                    img {
                                        width: 450px;
                                    }
                                }
                                .overlay-box {
                                    width: 30%;
                                    position: absolute;
                                    top: 40px;
                                    left: 15%;
                                    padding: 50px;
                                    @extend %box-bg-left;

                                    ul {
                                        li {
                                            margin-bottom: 20px;
                                            &:last-child {
                                                margin-bottom: 0;
                                            }

                                            p {
                                                color: $text-color;
                                                line-height: 1.2;
                                                margin-bottom: 0;

                                                &.name {
                                                    font-size: 18px;
                                                    font-family: SFText-Light;
                                                }
                                                &.num {
                                                    font-family: SFText-Bold;
                                                    font-size: 26px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        &.section3 {
                            .section-content {
                                @extend %relative;

                                .section-img {
                                    @extend %relative;
                                    padding: 40px 0;

                                    img {
                                        @extend %img;
                                    }
                                }
                            }
                            .section-title {
                                h3 {
                                    span {
                                        font-family: SFText-Light;
                                    }
                                }
                            }
                        }

                        &.section4 {
                            .section-content {
                                @extend %relative;

                                .section-img {
                                    @extend %relative;
                                    padding: 30px 0;

                                    img {
                                        @extend %img;
                                    }
                                }
                                .section-text {
                                    width: 750px;
                                    margin-left: auto;
                                    margin-top: 50px;

                                    p {
                                        padding-right: 50px;
                                        text-align: right;
                                        line-height: 1.2;
                                        color: $text-color;
                                        font-size: 22px;
                                        font-family: SFText-Light;
                                        margin-bottom: 0;

                                        span {
                                            color: #ff1717;
                                            font-family: SFText-Bold;
                                        }
                                    }
                                }
                            }
                        }

                        &.section5 {
                            .section-content {
                                @extend %relative;

                                .section-img {
                                    @extend %relative;
                                    padding: 30px 0;

                                    img {
                                        @extend %img;
                                        width: 90%;
                                        margin: 0 auto;
                                    }
                                }
                            }
                        }

                        &.section6 {
                            .section-content {
                                @extend %relative;

                                .section-img {
                                    @extend %relative;
                                    padding: 30px 0;

                                    img {
                                        @extend %img;
                                    }
                                }
                            }
                        }

                        &.section7 {
                            .section-content {
                                @extend %relative;

                                .section-img {
                                    @extend %relative;
                                    padding: 30px 0;

                                    img {
                                        @extend %img;
                                    }
                                }
                            }
                        }

                        &.footer {
                            background-color: #fff;
                            padding: 40px 0;

                            .section-content {
                                @extend %section-content;

                                .footer-box {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;

                                    .group-left {
                                        margin-right: 50px;
                                        .footer-content {
                                            text-align: center;

                                            p {
                                                font-size: 20px;
                                                line-height: 1.1;
                                                margin-bottom: 15px;
                                                font-family: SFProDisplay-Medium;
                                                color: #000;

                                                .link {
                                                    font-family: SFProDisplay-Bold;
                                                    font-style: italic;
                                                    text-decoration: none;
                                                    color: #000;
                                                }
                                            }
                                            h3 {
                                                font-size: 30px;
                                                line-height: 1.1;
                                                margin-bottom: 15px;
                                                color: #e74445;
                                                font-family: SFProDisplay-Bold;
                                            }
                                            ul {
                                                display: inline-block;
                                                margin-left: 30px;

                                                .footer-item {
                                                    text-align: left;
                                                    font-size: 16px;
                                                    line-height: 1.1;
                                                    margin-bottom: 15px;
                                                    color: #e74445;
                                                    padding-left: 50px;
                                                    position: relative;
                                                    font-family: SFProDisplay-Medium;

                                                    &::before {
                                                        content: "";
                                                        width: 17px;
                                                        height: 17px;
                                                        position: absolute;
                                                        top: 7px;
                                                        left: 0;
                                                        background-image: url("../image/footer-icon.png");
                                                        background-repeat: no-repeat;
                                                        background-size: cover;
                                                    }
                                                    &.mail {
                                                        &::before {
                                                            background-position: 0 0;
                                                        }
                                                    }
                                                    &.phone {
                                                        &::before {
                                                            background-position: 0 -22px;
                                                        }
                                                    }
                                                    &.location {
                                                        &::before {
                                                            background-position: 0 -57px;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    .group-right {
                                        .qr-code {
                                            max-width: 300px;

                                            img {
                                                @extend %img;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .mobile {
        @extend %relative;

        img {
            @extend %img;
        }
    }
}

// Responsive
@media (min-width: 992px) {
    .mobile {
        display: none;
    }
}
@media (max-width: 991px) {
    .desktop {
        display: none;
    }
}
