@font-face {
  font-family: SFProDisplay-Medium;
  src: url("./fonts/SFProDisplay-Medium.otf");
}

@font-face {
  font-family: SFProDisplay-Bold;
  src: url("./fonts/SFProDisplay-Bold.otf");
}

@font-face {
  font-family: SFText-Bold;
  src: url("./fonts/SFText-Bold.otf");
}

@font-face {
  font-family: SFText-Light;
  src: url("./fonts/SFText-Light.otf");
}

.vct-wrapper, .vct-wrapper .desktop, .vct-wrapper .desktop .desktop-bg, .vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .banner, .vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section, .vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.section1 .section-content, .vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.section2 .section-content, .vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.section2 .section-content .section-img, .vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.section3 .section-content, .vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.section3 .section-content .section-img, .vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.section4 .section-content, .vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.section4 .section-content .section-img, .vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.section5 .section-content, .vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.section5 .section-content .section-img, .vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.section6 .section-content, .vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.section6 .section-content .section-img, .vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.section7 .section-content, .vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.section7 .section-content .section-img {
  position: relative;
  width: 100%;
  height: 100%;
}

.vct-wrapper .desktop .desktop-bg .w980 {
  width: 980px;
  margin: 0 auto;
  overflow: hidden;
}

.vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .banner img, .vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.section2 .section-content .section-img img, .vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.section3 .section-content .section-img img, .vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.section4 .section-content .section-img img, .vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.section5 .section-content .section-img img, .vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.section6 .section-content .section-img img, .vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.section7 .section-content .section-img img, .vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.footer .section-content .footer-box .group-right .qr-code img {
  width: 100%;
  display: block;
}

.vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.footer .section-content {
  position: relative;
  width: 90%;
  margin: 0 auto;
}

.vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.section1 .section-content .section-right, .vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.section2 .section-content .overlay-box {
  background-image: url("../image/box-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.vct-wrapper .desktop .desktop-bg .w980 .desktop--inner {
  position: relative;
  background-color: #2d2d2f;
}

.vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section .section-title h3 {
  font-size: 60px;
  color: #fff;
  margin: 0;
  line-height: 1.1;
  font-family: SFText-Bold;
  position: relative;
}

.vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section .section-title h3::before {
  content: "";
  width: 10px;
  height: 100%;
  background-color: #fff;
  position: absolute;
}

.vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section .section-title.title-left h3 {
  padding-left: 50px;
  text-align: left;
}

.vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section .section-title.title-left h3::before {
  top: 0;
  left: 0;
}

.vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section .section-title.title-right h3 {
  padding-right: 50px;
  text-align: right;
}

.vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section .section-title.title-right h3::before {
  top: 0;
  right: 0;
}

.vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.section1 .section-content .section-left {
  position: relative;
  width: 60%;
  margin-right: auto;
  z-index: 2;
}

.vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.section1 .section-content .section-left .section-img img {
  display: block;
  width: 100%;
}

.vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.section1 .section-content .section-right {
  width: 55%;
  height: 90%;
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.section1 .section-content .section-right .section-box ul li {
  margin-bottom: 20px;
}

.vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.section1 .section-content .section-right .section-box ul li p {
  color: #fff;
  line-height: 1.2;
}

.vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.section1 .section-content .section-right .section-box ul li p.name {
  font-family: SFText-Light;
  font-size: 18px;
}

.vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.section1 .section-content .section-right .section-box ul li p.num {
  font-family: SFText-Bold;
  font-size: 26px;
}

.vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.section1 .section-content .section-right .section-box ul li:last-child {
  margin-bottom: 0;
}

.vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.section2 .section-content {
  margin-top: 40px;
}

.vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.section2 .section-content .overlay-img {
  position: absolute;
  top: 80px;
  left: 55%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
}

.vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.section2 .section-content .overlay-img img {
  width: 450px;
}

.vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.section2 .section-content .overlay-box {
  width: 30%;
  position: absolute;
  top: 40px;
  left: 15%;
  padding: 50px;
}

.vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.section2 .section-content .overlay-box ul li {
  margin-bottom: 20px;
}

.vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.section2 .section-content .overlay-box ul li:last-child {
  margin-bottom: 0;
}

.vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.section2 .section-content .overlay-box ul li p {
  color: #fff;
  line-height: 1.2;
  margin-bottom: 0;
}

.vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.section2 .section-content .overlay-box ul li p.name {
  font-size: 18px;
  font-family: SFText-Light;
}

.vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.section2 .section-content .overlay-box ul li p.num {
  font-family: SFText-Bold;
  font-size: 26px;
}

.vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.section3 .section-content .section-img {
  padding: 40px 0;
}

.vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.section3 .section-title h3 span {
  font-family: SFText-Light;
}

.vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.section4 .section-content .section-img {
  padding: 30px 0;
}

.vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.section4 .section-content .section-text {
  width: 750px;
  margin-left: auto;
  margin-top: 50px;
}

.vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.section4 .section-content .section-text p {
  padding-right: 50px;
  text-align: right;
  line-height: 1.2;
  color: #fff;
  font-size: 22px;
  font-family: SFText-Light;
  margin-bottom: 0;
}

.vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.section4 .section-content .section-text p span {
  color: #ff1717;
  font-family: SFText-Bold;
}

.vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.section5 .section-content .section-img {
  padding: 30px 0;
}

.vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.section5 .section-content .section-img img {
  width: 90%;
  margin: 0 auto;
}

.vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.section6 .section-content .section-img {
  padding: 30px 0;
}

.vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.section7 .section-content .section-img {
  padding: 30px 0;
}

.vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.footer {
  background-color: #fff;
  padding: 40px 0;
}

.vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.footer .section-content .footer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.footer .section-content .footer-box .group-left {
  margin-right: 50px;
}

.vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.footer .section-content .footer-box .group-left .footer-content {
  text-align: center;
}

.vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.footer .section-content .footer-box .group-left .footer-content p {
  font-size: 20px;
  line-height: 1.1;
  margin-bottom: 15px;
  font-family: SFProDisplay-Medium;
  color: #000;
}

.vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.footer .section-content .footer-box .group-left .footer-content p .link {
  font-family: SFProDisplay-Bold;
  font-style: italic;
  text-decoration: none;
  color: #000;
}

.vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.footer .section-content .footer-box .group-left .footer-content h3 {
  font-size: 30px;
  line-height: 1.1;
  margin-bottom: 15px;
  color: #e74445;
  font-family: SFProDisplay-Bold;
}

.vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.footer .section-content .footer-box .group-left .footer-content ul {
  display: inline-block;
  margin-left: 30px;
}

.vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.footer .section-content .footer-box .group-left .footer-content ul .footer-item {
  text-align: left;
  font-size: 16px;
  line-height: 1.1;
  margin-bottom: 15px;
  color: #e74445;
  padding-left: 50px;
  position: relative;
  font-family: SFProDisplay-Medium;
}

.vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.footer .section-content .footer-box .group-left .footer-content ul .footer-item::before {
  content: "";
  width: 17px;
  height: 17px;
  position: absolute;
  top: 7px;
  left: 0;
  background-image: url("../image/footer-icon.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.footer .section-content .footer-box .group-left .footer-content ul .footer-item.mail::before {
  background-position: 0 0;
}

.vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.footer .section-content .footer-box .group-left .footer-content ul .footer-item.phone::before {
  background-position: 0 -22px;
}

.vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.footer .section-content .footer-box .group-left .footer-content ul .footer-item.location::before {
  background-position: 0 -57px;
}

.vct-wrapper .desktop .desktop-bg .w980 .desktop--inner .section.footer .section-content .footer-box .group-right .qr-code {
  max-width: 300px;
}
/*# sourceMappingURL=genk.css.map */