@font-face {
  font-family: SVNGothamBook;
  src: url(./font/SVNGothamBook.ttf);
}

@font-face {
  font-family: SFDisplay-Bold;
  src: url(./font/SFDisplay-Bold.otf);
}

@font-face {
  font-family: SFDisplay-Regular;
  src: url(./font/SFDisplay-Regular.otf);
}
