@font-face {
  font-family: SVNGothamBold;
  font-weight: bold;
  font-style: normal;
  src: url(./font/SVNGothamBold.ttf);
}
@font-face {
  font-family: SVNGothamBook;
  font-weight: normal;
  font-style: normal;
  src: url(./font/SVNGothamBook.ttf);
}
@font-face {
  font-family: UTMBebas;
  font-weight: normal;
  font-style: normal;
  src: url(./font/UTMBebas.ttf);
}
@font-face {
  font-family: UTMNguyenHaRegular;
  font-weight: normal;
  font-style: normal;
  src: url(./font/UTMNguyenHaRegular.ttf);
}
@font-face {
  font-family: SVNGothamBookItalic;
  font-weight: normal;
  font-style: normal;
  src: url(./font/SVNGothamBookItalic.otf);
}
