@font-face {
    font-family: SFProDisplay-Medium;
    src: url("./fonts/SFProDisplay-Medium.otf");
}
@font-face {
    font-family: SFProDisplay-Bold;
    src: url("./fonts/SFProDisplay-Bold.otf");
}
@font-face {
    font-family: SFText-Bold;
    src: url("./fonts/SFText-Bold.otf");
}
@font-face {
    font-family: SFText-Light;
    src: url("./fonts/SFText-Light.otf");
}
